body {
  width: auto;
  /* max-width: 800px; */
  margin: 0;
  padding: 1em;
  line-height: 1.5;
}

/* header and footer areas */
nav {
  margin: 0 auto;
  max-width: 1280px;
  @media screen and (max-width: 1280px) {
    max-width: 800px;
  }
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
}

.menu {
  text-align: right;
}

.menu li {
  display: inline-block;
}

.article-meta {
  vertical-align: middle;
  text-decoration: none;
  background: #eee;
  
  max-width: 1280px;
  @media screen and (max-width: 1280px) {
    max-width: 800px;
  }
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }

  padding: 0.8em 0 1.6em;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}

.article-meta h1 {
  padding-left: 1.6em;
  padding-right: 1.6em;
}

.link-container {
  margin: 1.6em auto 1.6em;
  max-width: 1280px;
  @media screen and (max-width: 1280px) {
    max-width: 800px;
  }
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
}

.meta-container {
  margin-bottom: 0.8em;
  padding-left: 1.6em;
  padding-right: 1.6em;
}

.link-container h2 {
  margin-top: 0em;
  margin-bottom: 0em;
}

.article-link {
  overflow: hidden;
  width: 95%;
  margin: 0.5em 0 0.5em 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

footer {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 1.1em;
  overflow: hidden;
  word-break: auto-phrase;
}

@media only screen and (max-width: 800px) {
  .title {
    font-size: 6vw;
  }

  .article-link {
    margin: 0.5em 0 0.5em 0;
    display: inline-grid;
  }

  pre {
    margin-right: 2em;
  }

}


main {
  hyphens: auto;
  width: auto;
  margin: 1.6em auto 1.6em;
  word-break: auto-phrase;

  max-width: 1280px;
  @media screen and (max-width: 1280px) {
    max-width: 800px;
  }
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
}

.footnotes {
  overflow-wrap: break-word;
}

footer {
  width: 80vw;
  /* max-width: 800px; */
  color: #686868;
}

footer a {
  color: #686868
}

hr {
  border-style: dashed;
  color: #ddd;
}

.single-author,
.single-date,
.single-categories,
.single-tags {
  text-align: right;
}

.list-date {
  display: inline-block;
  width: 8em;
  text-align: left;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  overflow-x: auto;
  padding: 1em;
  color: #f8f8f2;
  background-color: #272822;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

code {
  background: #f9f9f9;
  overflow-wrap: break-word;
}

pre code {
  background: none;
}

/* misc elements */
img,
iframe,
video {
  max-width: 80%;
  height: auto
}

main a {
  overflow-wrap: break-word;
}



blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th {
  border-bottom: 1px solid #ddd;
}

th,
td {
  padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
  background: #eee;
}
