<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ if .IsHome }}<title>{{ .Site.Title }}</title>{{ else }}<title>{{ .Title }} | {{ .Site.Title }}</title>{{ end }}
  <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
  <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
  {{ if or (eq .Params.scope "private") (eq .Kind "term")}}<meta name="robots" content="noindex" />{{ end }}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  {{ partial "head_custom.html" . }}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "name": "{{ .Title | markdownify }}",
      "author": "{{ .Params.author }}",
      "abstract": "{{ trim (.Summary | plainify) " -\n" }}",
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"{{ if (gt .Params.lastmod .Params.date) }},
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}"{{ end }}
    }
  </script>
</head>

<body>
  {{ if .IsHome }}
  {{ else }}
  <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}